
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');

body{
    background-image: linear-gradient(to right, white 0%, beige 51%,white 100%);
    }
    .containter{
        width:100%;
        height:100vh;
        display:flex;
        flex-direction:column;
        align-items:center;
        opacity:0.99;
    }

    h1{
        font-size:22px;
        font-family: 'Source Code Pro', monospace;
        color:#000034; 
    }
    .photos {
        height:560px;
        width:770px;
        border:1px solid white;
        border-radius: 20px; 
        box-shadow:1px 1px 4px 1px rgba(0,0,0,0.5);
        overflow:hidden;
        position:relative;
        z-index:-10;
    }
        .photos:hover .slide{
            animation-play-state:paused
        }
        .photos:hover .slide .line{
            animation-play-state:paused
        }
        .slide{
            height:540px;
            width:100%;
            position:absolute;
            top:-320px;
            opacity:0;
            animation:slide 15s infinite;
        }
        .bcg::after{
            content: attr(name);
            width: 250px;
            height: 35px;
            position: absolute;
            bottom: 15px;
            left: -310px;
            padding: 15px;
            font-size: 30px;
            letter-spacing: 1.7px;
            line-height: 35px;
            color: white;
            background-color: rgba(0,0,0,0.5);
        }
        .slide:hover.bcg::after{
            transform:translateX(310px);
            transition-duration:2s;
            transition-timing-function:ease-in
        }
        .line{
            top: 0px; 
            width:770px; 
            height:12px;
            background-color:rgba(0,0,0,0.7);
            position:absolute;
            right:0;
            z-index:7;
            animation:line 3s ease-out infinite; 
        }
        .beach {
            animation-delay:0s
        }
        .jaffaport {
            animation-delay:3s
        }
        .kerem {
            animation-delay:6s
        }
        .dizingoff {
            animation-delay: 9s
        }
        .old-city {
            animation-delay: 12s
        }
        @keyframes line{
            0% {
                width: 0px;
                background-color: rgba(0,0,0,0.0);
            }
            100% {
                background-color: rgba(0,0,0,0.8);
            }
        }
        
        @keyframes slide {
            0% {
                transform: translateY(0px);
                opacity: 0;
                z-index: -5;
            }
            6.66% {
                transform: translateY(320px);
                opacity: 1;
                z-index: 5;
            }
            13.32% {
                transform: translateY(320px);
                opacity: 1;
                z-index: 5;
                
            }
            19.98% {
                transform: translateY(320px);
                opacity: 1;
                z-index: 5;
                
            }
            26.64% {
                transform: translateY(320px);
                opacity: 0;
                z-index: 5;
            }
            100% {
                transform: translate(0,0);
                opacity: 0;
                z-index: -5;
            }
        }
                                                    
                                                    
        